{% extends "layout.html.twig" %}

{% block content %}

{% for post in posts %}
    <h2>{{ post.title }}</h2>
    <div class="info">
        <div>{{ post.updated | date('d-m-Y') }}</div>
    </div>
    {{ post.excerpt | raw }}

    <p><a href="{{ url(post) }}">Read more...</a></p>
{% endfor %}

{% endblock %}
